.theme-switch__input {
  opacity: 0;
}

.sun-icon {
  display: unset;
  color: orange;
  margin: 0.5em;
  font-size: 2em;
}
.sun-icon:hover {
  display: unset;
  color: #926003;
  cursor: pointer;
  font-size: 2em;
}

.moon-icon {
  font-size: 2em;
  margin: 0.5em;
  width: 60px;
  color: turquoise;
  display: unset;
}

.moon-icon:hover  {
  font-size: 2em;
  margin: 0.5em;
  width: 60px;
  cursor: pointer;
  color: #088578;
  display: unset;
}

@media only screen and (max-width: 768px) { 
  .sun-icon {
    display: unset;
    color: orange;
    margin: 0.5em;
    font-size: 0.7em;
  }
  .sun-icon:hover {
    display: unset;
    color: #926003;
    cursor: pointer;
    font-size: 0.7em;
  }
  .moon-icon {
    font-size: 0.7em;
    margin: 0.5em;
    color: turquoise;
    display: unset;
  }
  
  .moon-icon:hover  {
    font-size: 0.7em;
    margin: 0.5em;
    width: 60px;
    cursor: pointer;
    color: #088578;
    display: unset;
  }
}